*{
    font-family: Helvetica;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-weight: normal;
}
/* body{
    max-width:1440px;
} */
.navigation{
    height:auto;
    background-color:#F1F3FF;
}
.navbar-brand__logo,
.footer__logo{
    width: 100px;
    height: 34px;
    left: 136px;
    top: 25px;
    background: #0D28A6;
}
.hero__desc__title{
    font-weight: bold;
    font-size: 34px;
    line-height: 54px;
}
.hero{
    background-color:#F1F3FF;
    overflow-x: hidden;
}
.nav-item__button,
.hero__desc__button,
.gettingcard-section__content__button{
    background-color: #5CB85F;
}
.hero__img{
    height: 504px;
    position: relative;
}
.hero__img__car{
    position: absolute;    
    right:0;
    bottom:0;
}
.service-section__image{
    width: 400px;
    padding-top: 100px;
}
.service-section__desc{
    padding-top: 136px;
    padding-bottom: 136px;
}
.service-section__desc__title,
.whyus-section__title,
.testimonial-section__title,
.accordion-section__title{
    font-weight: bold;
    line-height: 36px;
}
.service-section ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.service-section ul li{
    background:url("assets/service_bullet.png") no-repeat 0 0;
    padding-left:29px;
    margin:9px 0;
}
.whyus-section__content{
    margin-bottom: 120px;
}
.whyus-section__content img{
    margin-bottom: 21px;
}
.whyus-section__content__title{
    font-weight: bold; 
    font-size: 16px;
}
.gettingcard-section{
    margin-top: 100px;
    margin-bottom: 100px;
}
.gettingcard-section__content{
    background-color: #0D28A6; 
    border-radius: 13px; 
    padding:64px 0 64px 0;
}
.gettingcard-section__content__title{
    font-size: 36px; 
    font-weight: bold;
}
.gettingcard-section__content__button{
    margin-top: 60px;
}
.accordion-section{
    margin-bottom: 130px;
}
.testimonial-section__content{
    margin-top: 40px;
}
.testimonial-section__content__wrapper{
    padding-top: 60px; 
    padding-bottom: 60px; 
    background-color: #F1F3FF;
    border-radius: 8px;
}
.testimonial-section__content__testi{
    display: flex;
    justify-content: center;
}
.testimonial-section__content__testi__img{
    margin:auto;
    margin-right: 15px;
}
.testimonial-section__content__testi__rating{
    justify-content: baseline;
    display: flex;
}


footer{
    padding-bottom: 100px;  
}
.footer__address{
    width: 270px;
}
.footer__menu ul{
    padding:0;
    margin:0;
    list-style-type: none;
}




/* RESPONSIVE  */


/* Resolusi HP -Iphone XR */
@media only screen and (max-width: 520px){
    .hero__desc{
        margin-left: 10px;
        width:330px;
        margin-top: 70px;
    }
    .hero__img{
        height: 300px;
    }
    .testimonial-section__content__testi{
        display: block;
        justify-content: baseline;
    }
    .testimonial-section__content__testi__img{
        margin:auto;
    }
    .testimonial-section__content__testi__rating{
        justify-content: center;
        display: flex;
        margin-bottom: 20px;
        margin-top: 7px;
    }
    .whyus-section__card{
        margin-bottom: 15px;
    }
}
@media only screen and (min-width: 521px){
    .hero__desc{
        margin-left: 30px;
        width:350px;
        margin-top: 100px;
    }
}
/* Ipad */
@media only screen and (min-width: 768px){
    .hero__desc{
        margin-left: 30px;
        width:350px;
        margin-top: 125px;
    }
}
@media only screen and (min-width: 960px){
    .hero__desc{
        margin-left: 70px;
        width:400px;
        margin-top: 138px;
    }
}


@media only screen and (min-width: 1200px){
    .hero__desc{
        margin-left: 113px;
        width:500px;
        margin-top: 148px;
    }
}

